<div class="dashboard">
  <nav class="navbar">
    <div class="navbar-brand">Tour <span>Planner</span></div>
    <div class="navbar-user">
      <span>Hello, Jarod</span>
      <button class="btn-logout" (click)="onLogout()">Logout</button>
    </div>
  </nav>

  <div class="main">
    <app-tour-list></app-tour-list>

    <div class="content">
      <div class="map-placeholder">
        <div class="map-inner">
          <div class="map-icon">🗺️</div>
          <p>Map will appear here</p>
        </div>
      </div>

      @if (tourVm.showForm()) {
        <app-tour-create></app-tour-create>

      } @else {

        @if (tourVm.selectedTour(); as tour) {
          <app-tour-info [tourSignal]="tour"></app-tour-info>
        } @else {
          <p>No tour selected</p>
        }

      }

    </div>
  </div>
</div>